# 🛡️ Fichiers sensibles et variables d'environnement
.env
*.env

# Dossiers Python
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/
env/

# Fichiers temporaires / caches
*.log
*.sqlite3
staticfiles/



